*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 10px;

  --color-primary: rgba(237, 37, 78, 1);
  --color-accent: hsl(49, 93%, 55%); /* lighting default: 67% */
  --color-light: rgba(244, 255, 253, 1);
  --color-dark: rgba(1, 25, 54, 1);
  --color-gray: rgba(70, 83, 98, 1);
  --color-box-shadow: rgba(32, 33, 36, 0.28);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  box-sizing: border-box;
  background-color: var(--color-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
